pip install Flask==2.0.1 --user
pip install gunicorn==20.1.0 --user
pip install h5py==3.1.0 --user
pip install html5lib==1.1 --user
pip install importlib-metadata==4.0.1 --user
pip install ipykernel==5.5.3 --user
pip install ipython==7.24.1 --user
pip install ipython-genutils==0.2.0 --user
pip install keras-nightly==2.5.0.dev2021032900 --user
pip install Keras-Preprocessing==1.1.2 --user
pip install npyscreen==4.10.5 --user
pip install numpy==1.19.5 --user
pip install pandas==1.2.4 --user
pip install requests==2.25.1 --user
pip install requests-oauthlib==1.3.0 --user
pip install resolvelib==0.5.4 --user
pip install retrying==1.3.3 --user
pip install rgw==2.0.0 --user
pip install rsa==4.7.2 --user
pip install scikit-image==0.18.1 --user
pip install scikit-learn==0.24.2 --user
pip install scipy==1.6.3 --user
pip install tensorboard==2.5.0 --user
pip install tensorboard-data-server==0.6.1 --user
pip install tensorboard-plugin-wit==1.8.0 --user
pip install tensorflow-cpu==2.5.0 --user
pip install tensorflow-estimator==2.5.0 --user